# Python Crash Course



This notebook will just go through the basic topics in order:

* Data types
    * Numbers
    * Strings
    * Printing
    * Lists
    * Dictionaries
    * Booleans
    * Tuples 
    * Sets
* Comparison Operators
* if,elif, else Statements
* for Loops
* while Loops
* range()
* list comprehension
* functions
* lambda expressions
* map and filter
* methods
____

## Data types

### Numbers

In [1]:
1 + 1

2

In [2]:
1 * 3

3

In [3]:
1 / 2

0.5

In [4]:
2 ** 4 #2 to the power of 4

16

In [5]:
4 % 2

0

In [6]:
5 % 2

1

In [7]:
(2 + 3) * (5 + 5)

50

### Variable Assignment

In [9]:
# Can not start with number or special characters
name_of_var = 2
name_of_var_again=3

print(name_of_var)
print(name_of_var_again)

var_name=5
print(var_name)

2
3
5

In [11]:
x = 2
y = 3
b='3'

In [12]:
x+y

5

In [13]:
x+b

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [14]:
z = x + y+b
print(z)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [15]:
z

NameError: name 'z' is not defined

### Strings

In [16]:
b='single quotes'
print(b)

single quotes

In [17]:
a="double quotes"
print(a)

double quotes

In [18]:
print(a+b)

double quotessingle quotes

In [19]:
a="double quotes "
#print(a)

print(a+b) ## Appends two strings
print(a-b) ## Not supported

double quotes single quotes

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [ ]:
" wrap lot's of other quotes"

### Printing

In [20]:
x='hello1'
y='hello2'

num=25
name='sam'

print(x)

hello1

In [22]:
x=5
print(x)

5

In [23]:
print("The value of x=",x,"and the value of y=",y)

The value of x= 5 and the value of y= hello2

In [24]:
#Python indexing starts from 0
s="hello"
s[1]

#0=h
#1=e
#2=l
#3=l
#4=0

'e'

In [25]:
print(s[2:]) ## start from 2nd index till the end, include second index

llo

In [26]:
print(s[:3]) ## print upto 3rd index, exclude third index

hel

In [27]:
print(s[:5])

hello

In [28]:
s[1:4] ## print from 1st index up to 4th index, exclude 4th index

'ell'

In [29]:
(s[2+1:])

'lo'

In [30]:
s[3:]

'lo'

### Lists

In [34]:
list_a=[1,2,3,4]
list_a

[1, 2, 3, 4]

In [ ]:
#first_list=['hi',1,[2,3]]
#first_list[3]

In [32]:
my_list = ['a','b','c',1]
my_list

['a', 'b', 'c', 1]

In [33]:
my_list.append('a1') ## Add at the end
print(my_list)

#0=a
#1=b
#2=c
#3=1
#4=d

['a', 'b', 'c', 1, 'a1']

In [ ]:
my_list

In [35]:
my_list[0]

'a'

In [36]:
my_list[1]

'b'

In [37]:
print(my_list[1:4])

['b', 'c', 1]

In [38]:
my_list[:1]

['a']

In [39]:
my_list[0] = 'NEW' ## It is reassigned and replaces old value

In [40]:
my_list

['NEW', 'b', 'c', 1, 'a1']

In [42]:
nest = [1,2,3,[4,5,['target','target again']]] ## Nested list
nest

[1, 2, 3, [4, 5, ['target', 'target again']]]

In [47]:
nest1 = [1,2,3,[4,5,['target',7]]]

In [43]:
nest[3]

[4, 5, ['target', 'target again']]

In [44]:
nest[3][2]

['target', 'target again']

In [45]:
nest[3][2][1] ## 3rd element of outer list and 2nd element of inner list

'target again'

In [46]:
nest[3][2][1][7]

'a'

In [48]:
nest1[3][2][1][7]

TypeError: 'int' object is not subscriptable

In [49]:
nest[3][2][1]

'target again'

nest[3][2][0]

# Dictionaries behave as Key-value pairs like Hashtable, They dont maintain any order

In [52]:
itemd = {'key1':1,'key2':'item2'}

In [53]:
itemd

{'key1': 1, 'key2': 'item2'}

In [54]:
itemd = {'key1':2,'key2':'item2'}

In [55]:
itemd['key1']

2

In [56]:
itemd={'k1':[1,2,3],'key2':'item2'}
itemd

{'k1': [1, 2, 3], 'key2': 'item2'}

In [57]:
#print(itemd['key2'])
#print(itemd['k1'])

a=25
itemd={'k1':[1,2,3],'key2':a}
print(itemd)

{'k1': [1, 2, 3], 'key2': 25}

In [58]:
## Grabbing a dictionary within a list
itemd['k1']

[1, 2, 3]

In [59]:
itemd['k1'][0] ## first item within the list

1

In [60]:
d={'k1':{'k2':[0,1,2,3,4]}} ## Inner Dictionary
print(d['k1'])

{'k2': [0, 1, 2, 3, 4]}

In [61]:
print(d['k1']['k2'])

[0, 1, 2, 3, 4]

In [62]:
print(d['k1']['k2'][2])

2

In [ ]:
#print(d['k1'][1])

### Booleans

In [63]:
True

True

In [64]:
False

False

### Tuples : cant change, they are immutable

In [65]:
t = (1,2,3,'hello')

In [66]:
t[3]

'hello'

In [67]:
t[0] = 'NEW' ## Reassignment is not allowed in tuples

TypeError: 'tuple' object does not support item assignment

### Sets : Collection of Unique elements; can contain heterogenous values

In [ ]:
{1,2,3}

In [68]:
s=set([1,2,3,10,3.0,3.0,4,5,5,5,5,5,6,6,6,6])
print(s)

{1, 2, 3, 4, 5, 6, 10}

In [70]:
s=set([1,2,3,10,3.0,3.0,4,5,5,5,5,5,6,6,6,'hello'])
print(s)

{1, 2, 3, 4, 5, 6, 10, 'hello'}

In [71]:
s[3]

TypeError: 'set' object does not support indexing

In [72]:
s.add(7)
s

{1, 2, 3, 4, 5, 6, 7, 10, 'hello'}

In [ ]:
#s[3]

## Comparison Operators

In [ ]:
1 > 2

In [ ]:
a=1
b=2
print(a<b)
print(a==b)

In [ ]:
1 < 2

In [ ]:
1 >= 1

In [ ]:
1 <= 4

In [ ]:
1 == 1

In [ ]:
'hi' == 'bye'

## Logic Operators

In [ ]:
(1 > 2) and (2 < 3) ## AND = All expressions have to be TRUE for the entire expression to be TRUE

In [ ]:
(1 > 2) or (2 < 3) ## OR = Any one expression has to be TRUE for the entire expression to be TRUE

In [ ]:
(1 == 2) or (2 == 3) or (4 == 4)

## if,elif, else Statements

In [ ]:
if 1 < 2:print('Yep!')

In [ ]:
if 1 > 2:print('yep!')

In [ ]:
if 1 < 2:
    print('first')
else:
    print('last')

In [ ]:
if 1 > 2:
    print('first')
else:
    print('last')

In [ ]:
if 1 == 2: 
    print('first')
elif 2==3:
    print('Second')
elif 3 == 4:
    print('middle')
else:
    print('Last')

## for Loops

In [ ]:
seq = [1,2,3,'hello']

In [ ]:
for item in seq: ## for (item=seq,item <= seq.length,item+1)
    print(item)

In [ ]:
for item in seq:
    print('Yep')

In [ ]:
for jelly in seq:
    print(jelly+5)

## while Loops

In [ ]:
i = 1
while i < 5: # While this is true, keep on executing
    print("i is:",i)
    print(i+i)
    i = i+1
    print("Hi Surya!") ## This runs once the loop ends, this is not part of the loop
print("Hi Amit")
print("Hi Tejas")

## range()

In [ ]:
## range can not be itself iterated, you have to use for-loop
x=2
z=5
y=range(x,z)#[2:5]
print(y)

In [ ]:
for i in y: # (for i=y,i<y.length,i++)
    print(i)

In [ ]:
# Created a list from the range
list_a=list(range(2,5)) #Create a list using range
list_a

In [ ]:
for i in list_a: # (for i=y,i<y.length,i++)
    print(i)

## list comprehension

In [ ]:
x = [1,10,50,55]
out=[] ### populate this empty list

In [ ]:
for item in x:
    out.append(item+2) ## 1 to the power 2, 2 to the power 2, 3 to the power 2, 4 to the power 2
print(out)

In [ ]:
[item+2 for item in x]

In [ ]:
# for x in string
# return x

string = "Hello12"
[x for x in string] ## Traverse through the string

In [ ]:
string = "Hello12"
for x in string:
    print(x)

In [ ]:
# for x in string
# if x.isdigit()
# input the list with values of x

[x for x in string if x.isdigit()]

In [ ]:
out=[]
for x in string:
    if x.isdigit():
        out.append(x)
print(out)

## functions

In [ ]:
## def : Keyword for function
def my_func1(a,b,c):
    print("Inside Function=",a+b+c)
    return(a+b+c)

In [ ]:
def my_func2(a,b,c):
    print(a,b,c)

In [ ]:
print("Outside Function1=",my_func1(50,20,10))
print("Outside function2=",my_func1(60,30,20))

In [ ]:
a=50
b=20
c=30
d=a+b+c
print(d)

a=60
b=30
c=20
d=a+b+c
print(d)

In [ ]:
def my_func(param1='default'):
    print(param1)

In [ ]:
my_func 
my_func()

In [ ]:
my_func('new param') ## Most common way

In [ ]:
my_func(param1='new param')

In [ ]:
#my_func(param2='new param')

In [ ]:
def square(x,y):
    return (x**2)+y+3
    
out = square(2,3)
print(out)

In [ ]:
out1 = square(2,3)
out1=out1+2
print(out1)

## lambda expressions

In [8]:
def times2(var):return var*2

In [6]:
times2(3)

6

In [7]:
lambda var: var*2 ## Anonymous function, no need to explicitly mention the return type and function name> 
                  ## This function accepts var and returns var*2

## map and filter

In [9]:
seq = [1,2,3,4,5] ## create a list

In [10]:
## Just to demonstrate
map(times2,seq) ## Pass the function and arguments, Map will create an iterator. Easy way rather than using for-loops

In [14]:
## actually you should use this notation to see the results
def times2(var):return var*2
def times2(var):return var*2
seq = [1,2,3,4,5]
list(map(times2,seq)) ## Pass the function and the arguments

[2, 4, 6, 8, 10]

In [17]:
def times2(var):return var*2
lambda var: var*2

In [18]:
## actually you should use this notation to see the results
seq = [1,2,3,4,5]
list(map(lambda var: var-2,seq))

[-1, 0, 1, 2, 3]

In [19]:
## Using Lambda expression
#1: Create lambda expression : shorthand for functions
#2: Create a list of sequences to be passed as paramaters to the lambda expression
#3: Create a map ( It calls the lambda expression with the parameters/sequences as mentioned in #2)
#4: Assign the output of map in a list [since the input parameter is also a list]

##Traditional way
#1: Create a function
#2: same as Lambda way
#3: Create a for-loop and iterate through each value
#4: Use a list to hold the output



list(map(lambda var: var*2,seq)) # Replace the function with lambda expression

[2, 4, 6, 8, 10]

In [24]:
## Added an if-else
seq = [1,2,3,4,5]
list(map(lambda var: var*2==4,seq))  # Check against the condition

[False, True, False, False, False]

In [25]:
## just to demonstrate
seq=[1,2,3,4,15]
list(filter(lambda item: item*2 == 4,seq))

[2]

In [ ]:
## for actual use
seq=[2,4,6,8,10]
list(filter(lambda item: item%2 == 0,seq)) ## Filters out values where the lambda statement holds true. 
                                      ## In this case, %==0 is true only for 2 and 4

## methods

In [26]:
st = 'hello!!!! my name is Sam'

In [27]:
st.lower()

'hello!!!! my name is sam'

In [28]:
st.upper()

'HELLO!!!! MY NAME IS SAM'

In [29]:
st.split() ## Split on all the white spaces

['hello!!!!', 'my', 'name', 'is', 'Sam']

In [31]:
tweet = 'Go Sports! #Sports # Hi Sports# Hello Sports'

In [32]:
list_a=tweet.split('#')
print(list_a)

['Go Sports! ', 'Sports ', ' Hi Sports', ' Hello Sports']

In [33]:
print(list_a[2])

 Hi Sports

In [34]:
print(tweet.split('#')[2])
print(tweet.split('#')[3])

 Hi Sports
 Hello Sports

In [61]:
## Dictionary: It is a combination of key-value pairs
d = {'key1':'item1','key2':'item2','key2':'item3'}

In [57]:
d.keys()

dict_keys(['key2', 'key1'])

In [62]:
d.items()

dict_items([('key2', 'item3'), ('key1', 'item1')])

In [50]:
list = [1,2,3]
print(list)

[1, 2, 3]

In [51]:
list.pop() ## pops the last value and then removes it from the list

3

In [52]:
'x' in [1,2,3]  ## If x is present in 1,2,3

False

In [53]:
'x' in ['x','y','z'] ## If x is present in x,y,z

True

In [54]:
1 in [1,2,3]

True

In [55]:
5 in [1,2,3]

False