<a href="https://colab.research.google.com/github/Muralimekala/python/blob/master/Invoke_CSV_from_drive.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# Code to read csv file into Colaboratory:
!pip install -U -q PyDrive
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials

In [0]:
# Authenticate and create the PyDrive client.
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

In [0]:
Link = 'https://drive.google.com/open?id=1TuPIryNg5kBE0SEJnSTLcziYVZaf_beM'
#sharable link

In [21]:
fluff, id = Link.split('=')
print (id) # Verify that you have everything after '='

1TuPIryNg5kBE0SEJnSTLcziYVZaf_beM

In [0]:
downloaded = drive.CreateFile({'id':id}) 
downloaded.GetContentFile('Salaries.csv')  
df3 = pd.read_csv('Salaries.csv')
# Dataset is now stored in a Pandas Dataframe

In [31]:
df3.head(4)

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN

In [34]:
!pwd

SyntaxError: ignored